body::-webkit-scrollbar {
    width: 7px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 50px;
    outline: 1px solid white;
  }
  
  .concentric-circle{
    background-color: #4126db;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 80px #4126db, inset 0 0 0 160px #fff;
    opacity: 0.3  ;
}

.divCard {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}